streamlit
yfinance
pandas
numpy
plotly
python-dateutil
python-dotenv
supabase
psycopg2-binary
streamlit-option-menu
sqlalchemy
boto3
streamlit-cookies-manager
python-jose
pyasn1==0.4.8
pyasn1-modules==0.2.8